.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navleft {
  flex: 1;
  font-weight: bold;
}

.navright {
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
}

.navright a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 2px;
}

.navright a:hover {
  text-decoration: underline;
}

.words {
  list-style-type: disc;
  padding-left: 25px;
  line-height: 1.6; /* Adds breathing room between lines */
}